{{!--  All bugs page view - using express handlebars  --}}

<title>Bug Tracker | All Bugs</title>
<link type="text/css" rel="stylesheet" href="/css/all-bugs.css">
      
<div id="top-row-container">
    <div id="table-container" class="table-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--white dashboard-top-bar">
            <h2 class="mdl-card__title-text">All Bugs</h2>
        </div> 

        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div id="search-container">
            <form id="search-form">
                <input id="search-input" type="text" placeholder="Search bug summaries, descriptions, and resolutions." name="search">
                <button class="submitBtn" id="search-btn" type="button">
                    <i class="material-icons">search</i>
                </button>
            </form>
            
            <button class="submitBtn" id="clear-search">View All</button>

        </div>
        
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="recordTable">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Bug</th>
                        <th class="mdl-data-table__cell--non-numeric">Bug Description</th>
                        <th class="mdl-data-table__cell--non-numeric">Project</th>
                        <th class="mdl-data-table__cell--non-numeric">Programmers</th>
                        <th class="mdl-data-table__cell--non-numeric">Date</th>
                        <th class="mdl-data-table__cell--non-numeric">Priority</th>
                        <th class="mdl-data-table__cell--non-numeric">Fixed</th>
                        <th class="mdl-data-table__cell--non-numeric">Resolution</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {{#each bugs}}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><div class="user-text">{{this.bugSummary}}</div></td>
                        <td class="mdl-data-table__cell--non-numeric"><div class="user-text">{{this.bugDescription}}</div></td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{#if this.projectName}}{{this.projectName}}{{else}}NULL{{/if}}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                                {{#each programmers}} {{this}} <br> {{/each}}
                        </td>
                        <td>{{this.dateStarted}}</td>
                        <td>{{this.priority}}</td>
                        <td class="bugFixed">{{#if this.fixed}} Yes {{else}} No {{/if}}</td>
                        <td class="mdl-data-table__cell--non-numeric"><div class="user-text">{{this.resolution}}</div></td>
                        <td><a class="update-btn" href="/bug_tracker/edit_bug?bugId={{this.bugId}}">Update</a></td>
                        <td>
                            <input 
                                type="button" 
                                value="Delete" 
                                class="update-btn" 
                                onclick="deleteBug('recordTable', this, {{this.bugId}})"
                            >
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>


    {{!-- Doughnut Chart --}}
    <div id="bug-chart-container" class="mdl-card mdl-shadow--2dp">
        <div id="bug-chart-title" class="mdl-card__title mdl-color-text--white dashboard-top-bar">
            <h2 class="mdl-card__title-text">Current Fixed Bugs</h2>
        </div>

        <div id="bug-chart-text" class="">
            <div id="chart">
                <div id="my_dataviz"></div>
            </div>
        </div>
    </div>
</div>


<script src="/js/all-bugs.js"></script>
